SUBSYSTEM=="net", ACTION=="add", BUS=="usb", KERNEL=="eth*|en*", NAME="usb-eth%n", TAG+="systemd", ENV{SYSTEMD_WANTS}="eth_startup@usb-eth%n.service"
